


/*   ---------------BASIC SETUP----------------- */
* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Lato', 'Arial', 'sans-serif';
  text-rendering: optimizeLegibility;
  overflow: hidden;
}
